@import "tailwindcss";

/* Import Font Poppins dari Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f3f4f6; /* gray-50 */
}